:root {
  --purple: #310a90;
  --green: #42e2b8;
  --white: #fff;

  --fontBase: "Poppins", sans-serif;
  --headline1: bold 95px / 153.71px var(--fontBase);
  --headline2: bold 59px / 95px var(--fontBase);
  --headline3: bold 48px / 77px var(--fontBase);
  --headline4: bold 34px / 55px var(--fontBase);
  --headline5: bold 24px / 38px var(--fontBase);
  --body1: 16px / 25px var(--fontBase);
  --body2: 24px / 22px var(--fontBase);
  --button: bold 14px / 22px var(--fontBase);
  --caption: 12px / 19px var(--fontBase);

  --gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--purple);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.hero {
  padding-block-start: 16px;
}

.hero-image {
  text-align: center;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-social {
  padding-block-end: 24px;
}

.hero h1 {
  font: var(--headline3);
  margin: 0;
}

/* .hero h1 span:nth-child(1) { */
.hero h1 span:first-child {
  font: var(--headline5);
  display: block;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }

  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }

  .hero-image {
    order: 2;
    flex: 1;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .hero-image img {
    inline-size: 500px;
    block-size: 504px;
  }
}

.wrapper {
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
}

/* 🧩 Components */

.menu {
  display: none;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu ul a {
  font: var(--button);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
}

.menu ul a.is-active {
  color: var(--purple);
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  margin-block-end: 80px;
  padding: 24px;
  text-align: start;
  border-radius: 24px;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.2);
}

.testimonial-desc {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--purple);
}

.testimonial-title {
  font: var(--headline5);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: var(--purple);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .testimonial {
    padding: 80px;
    text-align: center;
    margin-block: 80px;
  }

  .testimonial-desc {
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
  }

  .testimonial-title {
    font: var(--headline5);
  }
}

.button {
  display: inline-block;
  color: var(--white);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  font: var(--button);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background: var(--purple);
  cursor: pointer;
  text-align: center;
}

.button.is-secondary {
  background: unset;
  color: var(--purple);
  border: 2px solid var(--purple);
}

.button-icon {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid var(--purple);
  background: var(--white);
}

.button-icon img {
  vertical-align: middle;
}
